.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 3;
    background:rgb(30, 30, 30);
}

.logo{
    height: 3rem;
    width: 4rem;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}
.desktopMenuListItem{
    margin: 2rem;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom:0.5rem ;
    border-bottom: 3px solid yellow;
    width: fit-content;
}

.active{
    color: yellow !important;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}
.desktopMenu{
    margin: 0 auto;
}
.menu-container {
    display: flex;
    align-items: center;
  }
  
  .mobMenu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 3rem;
  }

    /* display: none; */
    /* object-fit: cover;
    height: 1.8rem;
    position: absolute;
    right: 3rem; */
    .line {
        width: 100%;
        height: 3px;
        background-color:yellow;
      }

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
    text-align: center;

    
}

@media screen and (max-width:720px) {
    .mobMenu{
        display: flex;

    }
    .desktopMenu{
        display: none;
    }
}